@import "tailwindcss";

@theme {
    --color-primary: #4A7A75;
    --color-primary-hover: #3B635F;
    --color-primary-light: #EFF6F4;
    --color-text-main: #1F2937;
    --color-text-muted: #6B7280;
}